#root {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color:#4C5760;
}

.app-container {
  width: 90%;
  margin: 0 auto;
  height: 100dvh;
}

.app-body { 
  display: flex;
  padding-top: 10px;
}

.grid-parent {
  width: 602px;
}

.list-parent {
  flex: 1;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
}
